@import "compass/css3/gradient";
@import "blueprint/grid";

@mixin bluprint-inline-form-div {
  line-height: 3;
  div {
    margin-bottom: 0; 
  }
}

.simple_form {
  @include blueprint-form; // appling the blueprint form mixin to simple forms
  @include bluprint-inline-form-div;
  input.text, input.title, input[type=email], input[type=text], input[type=password],
  textarea {
    @include linear-gradient(color-stops(white, white, white, $blueprint-table-stripe-color));
  }
  div.input {
    @include column(24);
    label { @include column(9); @include clearfix; text-align: right;}
  }
  .buttons {
    @include prepend(9);
  }
}

// fancy button style separated from the grid
.simple_form {
  .buttons {
    input[type='submit'] {
      background: -moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;
      border: 1px solid #D4D4D4;
      border-radius: 3px 3px 3px 3px;
      color: #333333;
      height: 2.5em;
      font-weight: bold;
      text-shadow: 0 1px 0 #FFFFFF;
      &:hover {
          background: -moz-linear-gradient(center top , #599BDC, #3072B3) repeat scroll 0 0 transparent;
          border-color: #518CC6 #518CC6 #2A65A0;
          color: #FFFFFF;
          text-decoration: none;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}
