@import "blueprint/form";
@import "compass/css3/gradient";
@import "blueprint/grid";
@import "blueprint/buttons";
@import "compass/css3/border-radius";

@mixin bluprint-inline-form-div {
  line-height: 3;
  div {
    margin-bottom: 0; 
  }
}

.simple_form {
  @include blueprint-form; // appling the blueprint form mixin to simple forms
  @include bluprint-inline-form-div;
  input.text, input.title, input[type=email], input[type=text], input[type=password],
  textarea {
    @include linear-gradient(color-stops(white, white, white, $blueprint-table-stripe-color));
  }
  div.input {
    @include column(24);
    label { @include column(9); @include clearfix; text-align: right;}
  }
  .buttons {
    @include prepend(9);
    input, button {
      @include button-colors;
      @include button-active-colors;
      @include button-hover-colors;
      @include button-button;
      @include border-radius;
    }
  }
}

// fixing blueprint
.simple_form input[type="checkbox"],
.simple_form input.checkbox,
.simple_form input[type="radio"],
.simple_form input.radio {top: 0.1em;}